<header class='nav'>
  <!-- <img src="/images/artist.jpg"> -->
  <!-- <nav class='nav-menu'> -->
  <!-- <a href='{{ absURL "" }}' class='nav-brand nav_item'>{{ .Site.Title }}</a> -->
  <!-- <div class='nav_bar-wrap'>
      <div class = 'nav_bar'></div>
    </div> -->
  <!-- </nav> -->
</header>
{{- if .IsHome }}
{{ if ne "/page/2/" .Paginator.URL }}
<div id="mothzine-logo">
  <img src="{{ absURL "images/logo/mothzine.png" }}">
</div>
{{ else }}
<div id="mothzine-logo">
  <img id="bin" src="{{ absURL "images/binnn.png" }}">
</div>
{{ end }}
<div id="lil-moth">
  <img src="{{ absURL "images/lil-moth.png" }}">
</div>
{{ end }}